* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body {
    scrollbar-color: black white;
    overflow-x: hidden;
}

body.light {
    background-color: aliceblue;
    color: #333;
}
body.dark {
    background-color: rgb(15, 15, 30);
    color: aliceblue;

    & header {
        background: linear-gradient(180deg, rgb(15, 7, 0), rgb(15, 7, 0), rgb(15, 7, 0), rgba(0, 0, 0, 0));
    }
    & footer {
        background: linear-gradient(0deg, rgb(15, 7, 0), rgb(15, 7, 0), rgb(15, 7, 0), rgba(0, 0, 0, 0));
    }
    & header > h1, & footer > p {
        text-shadow: 4px 4px 0px rgba(255, 255, 255, 0.25);
    }
    & .setting img {
        filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    }

    & button {
        color: white;
        border-color: white;
        box-shadow: 4px 4px 0px rgba(255, 255, 255, 0.5);

        &:hover {
            box-shadow: none;
        }
        &:active {
            box-shadow: 4px 4px 0px rgba(255, 255, 255, 0.5) inset;
        }

        &.red {
            border-color: darkred;
            box-shadow: 4px 4px 0px rgba(139, 0, 0, 0.5);

            &:hover {
                box-shadow: none;
            }
            &:active {
                box-shadow: 4px 4px 0px rgba(139, 0, 0, 0.5) inset;
            }
        }
        &.green {
            border-color: darkgreen;
            box-shadow: 4px 4px 0px rgba(0, 100, 0, 0.5);

            &:hover {
                box-shadow: none;
            }
            &:active {
                box-shadow: 4px 4px 0px rgba(0, 100, 0, 0.5) inset;
            }
        }
        &.blue {
            border-color: rgb(0, 0, 83);
            box-shadow: 4px 4px 0px rgba(0, 0, 83, 0.5);

            &:hover {
                box-shadow: none;
            }
            &:active {
                box-shadow: 4px 4px 0px rgba(0, 0, 83, 0.5) inset;
            }
        }
    }
    
    & .top-label {
        text-shadow: 4px 4px 0px rgba(255, 255, 255, 0.25);

        &.menu-btn {
            &:hover {
                text-shadow: none;
                transform: translate(2px, 2px);
            }
            &:active {
                transform: translate(2px, 2px) scale(0.9);
            }
        }
    }

    & .game-locked {
        background-color: rgba(0, 0, 0, 0.5);
        & .inner-body {
            background-color: rgb(0, 0, 0);
            border-color: white;
            box-shadow: 4px 4px 0px rgba(255, 255, 255, 0.5);
            color: white;

            & h2, & p {
                text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.25);
            }
        }
    }

    & .container {
        border-color: white;
        box-shadow: 4px 4px 0px rgba(255, 255, 255, 0.5);
    }
}

.game-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 220px);
}
footer, header {
    text-align: center;
    position: sticky;
    width: 100%;
    height: 100px;
    z-index: 99;

    &>h1 {
        top: 10px;
        position: relative;
        font-size: 50px;
        text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    &>p {
        position: relative;
        bottom: -10px;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
        outline: none;
    }
}
header {
    top: 0;
    height: 120px;
    background: linear-gradient(180deg, snow, snow, snow, rgba(255, 255, 255, 0));
}
footer {
    bottom: 0;
    background: linear-gradient(0deg, snow, snow, snow, rgba(255, 255, 255, 0));

    display: flex;
    justify-content: center;
    align-items: center;
}

.setting {
    position: fixed;
    bottom: 0px;
    padding: 10px;
    z-index: 100;

    & img {
        width: 30px;
        height: 30px;
        cursor: pointer;
        filter: invert(20%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
        transition: all 0.1s ease-in-out;
        
        &:hover {
            transform: scale(0.9);
        }
        &:active {
            transform: scale(0.8);
        }
    }
}
.mute-btn {
    left: 0px;
}
.change-theme {
    left: 40px;
}
.practice-mode {
    right: 0px;
}

img {
    user-select: none;
    -webkit-user-drag: none;
}

button {
    padding: 10px;
    font-size: 18px;
    border: 4px solid black;
    border-radius: 4px;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-align: center;
    transition: all 0.1s ease-in-out;
    background: no-repeat center / cover;
    font-weight: bold   ;

    &:hover {
        transform: translate(2px, 2px);
        box-shadow: none;
    }
    &:active {
        transform: translate(4px, 4px);
        box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.5) inset;
    }
}

.top-label {
    position: fixed;
    top: 20px;
    z-index: 100;
    font-size: 30px;
    font-weight: bolder;
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.money-label {
    left: 20px;
}
.menu-btn {
    right: 20px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    &:hover {
        transform: translate(2px, 2px);
        text-shadow: none;
    }
    &:active {
        transform: translate(2px, 2px) scale(0.9);
    }
}

.game-locked {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;

    &.shown {
        left: 0;
    }
    & .inner-body {
        background-color: white;
        border: 4px solid black;
        border-radius: 8px;
        box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.5);
        padding: 40px 20px;
        min-width: 340px;
        max-width: 400px;
        margin: 20px;
        text-align: center;

        & h2 {
            margin-bottom: 20px;
            font-size: 32px;
            text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
        }
        & p {
            margin-bottom: 30px;
            font-size: 18px;
            text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
        }
    }
}
.red, .green, .blue {
    color: white;
    &:hover {
        transform: translate(2px, 2px);
        box-shadow: none;
    }
    &:active {
        transform: translate(4px, 4px);
    }
}
.red {
    border-color: darkred;
    box-shadow: 4px 4px 0px rgba(139, 0, 0, 0.5);
    background-color: rgb(255, 87, 87);
    text-shadow: 4px 4px 0px rgba(255, 255, 255, 0.25);
    &:active {
        box-shadow: 4px 4px 0px rgba(139, 0, 0, 0.5) inset;
    }
}
.green {
    border-color: darkgreen;
    box-shadow: 4px 4px 0px rgba(0, 100, 0, 0.5);
    background-color: rgb(106, 255, 106);
    text-shadow: 4px 4px 0px rgba(255, 255, 255, 0.25);
    &:active {
        box-shadow: 4px 4px 0px rgba(0, 100, 0, 0.5) inset;
    }
}
.blue {
    border-color: rgb(0, 0, 83);
    box-shadow: 4px 4px 0px rgba(0, 0, 83, 0.5);
    background-color: rgb(0, 191, 255);
    color: white;
    text-shadow: 4px 4px 0px rgba(255, 255, 255, 0.25);
    &:active {
        box-shadow: 4px 4px 0px rgba(0, 0, 83, 0.5) inset;
    }
}

.game-feature-section {
    width: 100%;
    padding: 100px 0px;

    & > h2 {
        font-size: 42px;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center;
        text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25);
    }
    & > .block {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
}
.container {
    border: 4px solid black;
    border-radius: 8px;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 20px;
    min-width: 300px;
    max-width: 400px;
    height: 200px;
}


@media (max-width: 768px) {
    footer > h1, header > h1 {
        font-size: 36px;
    }
    button {
        font-size: 14px;
    }
    .top-label {
        font-size: 24px;
    }
    .game-locked .inner-body {
        & .h2 {
            font-size: 26px;
        }
        & p {
            font-size: 14px;
        }
    }
    .game-feature-section > h2 {
        font-size: 32px;
    }

    footer {
        height: 70px;
    }
    header {
        height: 80px;
    }
}