* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body {
    scrollbar-color: black white;
}

body.light {
    background-color: aliceblue;
    color: #333;
}
body.dark {
    background-color: rgb(10, 10, 20);
    color: aliceblue;

    & header {
        background: linear-gradient(180deg, rgb(15, 7, 0), rgb(15, 7, 0), rgb(15, 7, 0), rgba(0, 0, 0, 0));
    }
    & footer {
        background: linear-gradient(0deg, rgb(15, 7, 0), rgb(15, 7, 0), rgb(15, 7, 0), rgba(0, 0, 0, 0));
    }
    & header > h1, & footer > p {
        text-shadow: 4px 4px 0px rgba(255, 255, 255, 0.25);
    }
    & .setting img {
        filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    }

    & button {
        color: white;
        border-color: white;
        box-shadow: 4px 4px 0px rgba(255, 255, 255, 0.5);

        &:hover {
            box-shadow: none;
        }
        &:active {
            box-shadow: 4px 4px 0px rgba(255, 255, 255, 0.5) inset;
        }
    }
    
    & .top-label {
        text-shadow: 4px 4px 0px rgba(255, 255, 255, 0.25);
        &:hover {
            text-shadow: none;
            transform: translate(2px, 2px);
        }
        &:active {
            transform: translate(2px, 2px) scale(0.9);
        }
    }
}

footer, header {
    text-align: center;
    position: sticky;
    width: 100%;
    height: 100px;
    z-index: 99;

    &>h1 {
        top: 10px;
        position: relative;
        font-size: 50px;
        text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    &>p {
        position: relative;
        bottom: -60px;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
    }
}
header {
    top: 0;
    height: 120px;
    background: linear-gradient(180deg, snow, snow, snow, rgba(255, 255, 255, 0));
}
footer {
    bottom: 0;
    background: linear-gradient(0deg, snow, snow, snow, rgba(255, 255, 255, 0));
}

.setting {
    position: fixed;
    bottom: 0px;
    padding: 10px;
    z-index: 100;

    & img {
        width: 30px;
        height: 30px;
        cursor: pointer;
        filter: invert(20%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
        transition: all 0.1s ease-in-out;
        
        &:hover {
            transform: scale(0.9);
        }
        &:active {
            transform: scale(0.8);
        }
    }
}
.mute-btn {
    left: 0px;
}
.change-theme {
    left: 40px;
}

img {
    user-select: none;
    -webkit-user-drag: none;
}

button {
    padding: 10px;
    font-size: 18px;
    border: 4px solid black;
    border-radius: 4px;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-align: center;
    transition: all 0.1s ease-in-out;
    background: no-repeat center / cover;
    font-weight: bold   ;

    &:hover {
        transform: translate(2px, 2px);
        box-shadow: none;
    }
    &:active {
        transform: translate(4px, 4px);
        box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.5) inset;
    }
}

.top-label {
    position: fixed;
    top: 20px;
    z-index: 100;
    font-size: 30px;
    font-weight: bolder;
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.money-label {
    left: 20px;
}
.menu-btn {
    right: 20px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    &:hover {
        transform: translate(2px, 2px);
        text-shadow: none;
    }
    &:active {
        transform: translate(2px, 2px) scale(0.9);
    }
}