body.dark {
    & .game {
        border-color: white;
        box-shadow: 4px 4px 0px rgba(255, 255, 255, 0.5);
        
        &:hover {
            box-shadow: none;
        }
        &:active {
            transform: translate(4px, 4px);
            box-shadow: 4px 4px 0px rgba(255, 255, 255, 0.5) inset;
        }
    }

    & .click-off-settings {
        background-color: rgba(0, 0, 0, 0.5);
    }
    & .settings-div {
        background-color: rgb(0, 0, 0);
        border-color: white;
        box-shadow: 4px 4px 0px rgba(255, 255, 255, 0.5);
        color: white;
    }
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    grid-template-rows: repeat(auto-fit, 180px);
    justify-content: center;
    gap: 100px;
    min-height: calc(100vh - 220px);
}
.game {
    height: 180px;
    width: 320px;
    border: 4px solid black;
    border-radius: 4px;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-align: center;
    transition: all 0.1s ease-in-out;
    background: no-repeat center / cover;

    &:hover {
        transform: translate(2px, 2px);
        box-shadow: none;
    }
    &:active {
        transform: translate(4px, 4px);
        box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.5) inset;
    }

    font-weight: 600;
    font-size: 64px;
    line-height: 180px;
    text-shadow: 0px 0px 8px rgb(0, 0, 0);

    &.locked {
        cursor: not-allowed;
        opacity: 0.5;
        color: red;
    }
    &.unlockable {
        cursor: alias;
        opacity: 0.75;
        color: rgb(0, 255, 0);
    }
    &.unlocked {
        cursor: pointer;
        opacity: 1;
        color: transparent;
        text-shadow: none;
    }
}
.game.slotmachine {
    background-image: url("../assets/light/slotmachine.png");
}

.click-off-settings {
    position: fixed;
    top: 0;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;

    &.active {left: 0;}
}
.settings-div {
    position: relative;
    background-color: white;
    border: 4px solid black;
    border-radius: 8px;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 320px;

    & > h2 {
        text-align: center;
        margin: 10px;
        font-size: 36px;
        user-select: none;
    }
    & > .setting-option {
        display: flex;
        flex-direction: column;
        margin: 20px 0px;
        justify-content: space-between;
        height: 300px;
    }
    & button {
        display: block;
    }
    & .close-settings {
        display: inline-block;
        position: absolute;
        top: 15px;
        left: 20px;
        font-size: 26px;
        cursor: pointer;
        color: rgb(128, 0, 0);
        font-weight: bolder;
        transition: all 0.1s ease-in-out;
        
        &:hover {
            color: rgb(100, 0, 0);
            transform: scale(0.9);
        }
        &:active {
            color: rgb(156, 0, 0);
            transform: scale(0.8);
        }
    }
}
.settings-toggle {
    right: 0px;
}