.dark {
    & .slotmachine-body {
        border-color: white;
        box-shadow: 4px 4px 0px rgba(255, 255, 255, 0.5);
    }
    & .spin-lever {
        border-color: white;
        box-shadow: 4px 4px 0px rgba(255, 255, 255, 0.5);

        & .lever-ball {
            border-color: white;
            box-shadow: 4px 4px 0px rgba(255, 255, 255, 0.5);
        }
    }
}

.slotmachine-body {
    height: 400px;
    width: 250px;
    background-color: gold;
    border: 4px solid black;
    border-radius:  8px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.5);
    z-index: 5;

    & .half-circle {
        position: relative;
        top: 15px;
        left: 15px;
        height: 110px;
        width: 210px;
        background-color: lightblue;
        border: 4px solid black;
        border-radius: 8px;
        border-top-left-radius: 200px;
        border-top-right-radius: 200px;
        box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.5);

        & .ball {
            position: absolute;
            top: 77px;
            left: 75px;
            height: 25px;
            width: 50px;
            background-color: red;
            border: 4px solid black;
            border-bottom: none;
            border-top-right-radius: 100px;
            border-top-left-radius: 100px;
            box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.5);
        }
        & .line {
            position: absolute;
            left: 96px;
            height: 103px;
            width: 8px;
            background-color: black;
            transform-origin: bottom center;

            &.a {
                transform: rotate(-45deg);
            }
            &.c {
                transform: rotate(45deg);
            }
        }
    }
    & .reels {
        position: relative;
        top: 30px;
        left: 15px;
        height: 100px;
        width: 210px;
        border-radius: 8px;
        background-color: red;
        border: 4px solid black;
        box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;

        & > .reel {
            height: 80px;
            width: 55px;
            border: 2px solid black;
            border-radius: 8px;
            background-color: black;
            font-size: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            user-select: none;
            overflow-y: hidden;

            & .spinning {
                animation: spinning 0.1s infinite;
            }
        }
    }
    & .result-message {
        background-color: black;
        color: white;
        padding: 10px;
        position: relative;
        top: 45px;
        left: 15px;
        font-size: 20px;
        font-weight: bold;
        border-radius: 8px;
        height: 66px;
        width: 210px;
        user-select: none;
        text-align: center;
        box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.5);

        display: flex;
        justify-content: center;
        align-items: center;
    }
    & .spin-cost {
        position: relative;
        top: 60px;
        left: 5px;
        font-size: 18px;
        font-weight: bold;
        user-select: none;
        text-align: center;
        color: rgba(0, 0, 0, 0.5);
    }
}
.game-section {
    position: relative;
    overflow: hidden;
}
.spin-lever {
    position: absolute;
    left: calc(50vw + 100px);
    top: calc(50vh - 225px);
    height: 150px;
    width: 15px;
    border: 4px solid black;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.5);
    background-color: brown;
    cursor: pointer;
    border-radius: 8px;
    will-change: transform;
    transform-origin: bottom center;
    transform: rotate(25deg);  

    &.spinning {
        animation: spin 1s ease-in-out;
        cursor: not-allowed;
    }
    &.blocked {
        cursor: not-allowed;
    }
    & .lever-ball {
        height: 30px;
        width: 30px;
        background-color: red;
        border: 4px solid black;
        border-radius: 50%;
        box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.5);
        position: relative;
        top: -15px;
        left: -12px;
    }
}

@keyframes spinning {
    0% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(50px);
    }
}
@keyframes spin {
    0% {
        transform: rotate(25deg);
    }
    50% {
        transform: rotate(75deg);
    }
    100% {
        transform: rotate(25deg);
    }
}

.shop-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px;
    user-select: none;

    & h3 {
        font-size: 24px;
        font-weight: bolder;
        text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25);
    }
    & p {
        font-size: 18px;
        font-weight: bold;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
    }
}
.stat-item {
    height: auto;
    text-align: center;

    & h3 {
        font-size: 20px;
        font-weight: bolder;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
    }
}
