.game-section {
    flex-direction: column;

    & .coin {
        height: 300px;
        width: 300px;
        border: 16px solid;
        border-radius: 100%;
        box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        position: relative;
        /* animation: flip-coin 2s ease-in-out; */

        display: flex;
        justify-content: center;
        align-items: center;

        &.heads {
            background-color: rgb(0, 191, 255);
            border-color: rgb(0, 0, 83);
        }
        &.tails {
            background-color: rgb(221, 71, 71);
            border-color: rgb(83, 0, 0);
        }

        & img {
            height: 200px;
            width: 200px;
            position: absolute;
            filter: brightness(0);
            opacity: 0.25;
            z-index: 0;
        }
        & p {
            z-index: 1;
            font-weight: bold;
            font-size: 36px;
            color: black;
            text-overflow: clip;
            text-align: center;
            text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
            animation: pulse 2s infinite ease-in-out;
        }
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(0.95);
    }
}
@keyframes flip-coin {
    0% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(1080deg);
    }
}

.options {
    margin-top: 20px;

    & div {
        margin: 10px;
        display: flex;
        justify-content: space-around;
        
        & label {
            font-size: 24px;
            font-weight: bold;
            margin-right: 10px;

            display: flex;
            align-items: center;
        }
        & .bet-amount {
            outline: none;
            border: none;
            border-bottom: 4px solid black;
            background-color: rgba(128, 128, 128, 0.25);
            border-radius: 8px;
            padding: 4px 4px 2px 4px;
            font-weight: bold;
            font-size: 24px;
        }
    }
}

.bet-btns {
    opacity: 0.5;
    transform: scale(0.9);

    &:hover {
        opacity: 1;
        transform: scale(1);
    }
    &:active {
        transform: translate(2px, 2px);
    }
}
button.selected {
    opacity: 1;
    transform: scale(1.1);
}
