body.dark {
    & .main-game .game {
        box-shadow: 6px 6px 0px rgba(255, 255, 255, 0.25);
    }
    & .bet-amount {
        background-color: rgba(255, 255, 255, 0.25) !important;
        border-bottom: 4px solid white !important;
        color: white !important;
    }
}
.main-game {
    display: none;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.game {
    width: 900px;
    height: 450px;
    background-color: rgb(75, 31, 0);
    border-radius: 16px;
    color: white;
    box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.5);

    & .setup {
        position: relative;
        width: 100%;
        height: 100%;

        & .numbers {
            position: absolute;
            width: 100%;
            height: 100%;

            & .starting-places {
                position: absolute;
                width: 100%;
                height: 100%;

                & .number {
                    left: 30px;
                    font-size: 48px;
                    opacity: 0.5;

                    &.p2 {top: 75px;}
                    &.p3 {top: 150px;}
                    &.p4 {top: 225px;}
                    &.p5 {top: 300px;}
                    &.p6 {top: 375px;}
                    &.selected {opacity: 0.9;}
                }
            }
            & .winning-places {
                position: absolute;
                width: 100%;
                height: 100%;

                & .number {
                    right: 30px;
                    opacity: 0.9;
                    display: none;

                    &.wp2 {top: 75px;}
                    &.wp3 {top: 150px;}
                    &.wp4 {top: 225px;}
                    &.wp5 {top: 300px;}
                    &.wp6 {top: 375px;}
                    &.shown {display: block;}
                }
            }
            & .number {
                position: absolute;
                font-size: 40px;
                top: 0;
                line-height: 75px;
                text-shadow: 4px 4px 0px rgba(255, 255, 255, 0.5);
            }
        }
        & .lines {
            position: relative;
            width: 100%;
            height: 100%;

            & .important-lines {
                height: 100%;
                width: 100%;
                position: absolute;

                & > * {
                    height: 100%;
                    width: 4px;
                    background-color: darkred;
                    position: absolute;
                    left: 125px;

                    &.finish-line {
                        right: 125px;
                        left: auto;
                    }
                }
            }
            & .line {
                width: 100%;
                height: 2px;
                background-color: white;
                position: absolute;
                left: 0;
                
                &.l1 {top: 75px;}
                &.l2 {top: 150px;}
                &.l3 {top: 225px;}
                &.l4 {top: 300px;}
                &.l5 {top: 375px;}
            }
        }
    }
    & .horses {
        position: relative;
        width: 100%;
        height: 100%;
        top: -100%;
        left: 0;

        & .horse {
            position: absolute;
            width: 125px;
            height: 75px;
            left: 0;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            filter: drop-shadow(4px 4px 0 rgba(0, 0, 0, 0.5));

            &.h1 {
                top: 0;
                background-image: url('../assets/betting/1.png');
                &.sg {
                    background-image: url('../assets/betting/special-guests/1.png');
                }
            }
            &.h2 {
                top: 75px;
                background-image: url('../assets/betting/2.png');
                &.sg {
                    background-image: url('../assets/betting/special-guests/2.png');
                }
            }
            &.h3 {
                top: 150px;
                background-image: url('../assets/betting/3.png');
                &.sg {
                    background-image: url('../assets/betting/special-guests/3.png');
                }
            }
            &.h4 {
                top: 225px;
                background-image: url('../assets/betting/4.png');
                &.sg {
                    background-image: url('../assets/betting/special-guests/4.png');
                }
            }
            &.h5 {
                top: 300px;
                background-image: url('../assets/betting/5.png');
                &.sg {
                    background-image: url('../assets/betting/special-guests/5.png');
                }
            }
            &.h6 {
                top: 375px;
                background-image: url('../assets/betting/6.png');
                &.sg {
                    background-image: url('../assets/betting/special-guests/6.png');
                }
            }
        }
    }
}
.controls .disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

.pre-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);

    & h2 {
        font-size: 36px;
        margin-bottom: 10px;
    }
    & label {
        font-size: 24px;
        font-weight: bold;

        & .bet-amount {
            outline: none;
            border: none;
            border-bottom: 4px solid black;
            background-color: rgba(128, 128, 128, 0.25);
            border-radius: 8px;
            padding: 4px 4px 2px 4px;
            font-weight: bold;
            font-size: 24px;

            &.opacity-50 {opacity: 0.5;}
        }
    }
    & .bet-btns {
        display: grid;
        grid-template-columns: repeat(3, minmax(180px, 220px));
        gap: 20px;
        margin: 6px 40px 0 40px;

        & .bet-btn {
            aspect-ratio: 5 / 3;
            height: auto;
            width: 100%;
            max-width: 220px;
            justify-self: center;
            background: no-repeat center/cover;

            &.bh1 {
                background-image: url('../assets/betting/1.png');
                &.sg {
                    background-image: url('../assets/betting/special-guests/1.png');
                }
            }
            &.bh2 {
                background-image: url('../assets/betting/2.png');
                &.sg {
                    background-image: url('../assets/betting/special-guests/2.png');
                }
            }
            &.bh3 {
                background-image: url('../assets/betting/3.png');
                &.sg {
                    background-image: url('../assets/betting/special-guests/3.png');
                }
            }
            &.bh4 {
                background-image: url('../assets/betting/4.png');
                &.sg {
                    background-image: url('../assets/betting/special-guests/4.png');
                }
            }
            &.bh5 {
                background-image: url('../assets/betting/5.png');
                &.sg {
                    background-image: url('../assets/betting/special-guests/5.png');
                }
            }
            &.bh6 {
                background-image: url('../assets/betting/6.png');
                &.sg {
                    background-image: url('../assets/betting/special-guests/6.png');
                }
            }
        }
    }
}